/* to match dark code colors, background: #272822, color: #f8f822 */

/* Titillium 
 Because this custom.css is embedded after the parant Theme, I can't use @include 
 
 I'd also rather load the face here than through some link on the page, because then it's in a totally unrelated location (e.g. conf.py)
*/

 /* latin-ext */
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v6/7XUFZ5tgS-tD6QamInJTcSGR3J8a2Jm30YJvJ3tIMOY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v6/7XUFZ5tgS-tD6QamInJTceHuglUR2dhBxWD-q_ehMME.woff2) format('woff2');
    unicode-range: U+0000-00F6, U+00F8-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  }

:root {
    --code-background: #222; /*#272822;*/
    --code-colour: #f8f822;
    --page-background: #222;
    --page-colour: #aaa;
    --anchor-colour: #e37f2a;
    --anchor-hover-background: #20b2d2;  /* rgb (32,178,210) */
    --anchor-hover-colour: #ccf;
    --tags: #74e;
}

body {
    background-color: var(--page-background);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAgMAAAANjH3HAAAACVBMVEUaGhohISElJSUh9lebAAAB20lEQVRIx4XWuZXDMAwE0C0SAQtggIIYoAAEU+aKOHhYojTrYP2+QfOW/5QIJOih/q8HwF/pb3EX+UPIveYcQGgEHiu9hI+ihEc5Jz5KBIlRRRaJ1JtoSAl5Hw96hLB1/up1tnIXOck5jZQy+3iU2hAOKSH1JvwxHsp+5TLF5MOl1/MQXsVs1miXc+KDbYydyMeUgpPQreZ7fWidbNhkXNJSeAhc6qHmHD8AYovunYyEACWEbyIhNeB9fRrH3hFi0bGPLuEW7xCNaohw1vAlS805nfsrTspclB/hVdoqusg53eH7FWot+wjYpOViX8KbFFKTwlnzvj65P9H/vD0/hibYBGhPwlPO8TmxRsaxsNnrUmUXpNhirlJMPr6Hqq9k5Xn/8iYQHYIuQsWFC6Z87IOxLxHphSY4SpuiU87xJnJr5axfeRd+lnMExXpEWPpuZ1v7qZdNBOjiHzDREHX5fs5Zz9p6X0vVKbKKchlSl5rv+3p//FJ/PYvoKryI8vs+2G9lzRmnEKkh+BU8yDk515jDj/HAswu7CCz6U/Mxb/PnC9N41ndpU4hUU7JGk/C9PmP/M2xZYdvBW2PObyf1IUiIzoHmHW9yTncliYs9A9tVNppdShfgQaTLMf+j3X723tLeHgAAAABJRU5ErkJggg==);
    color: var(--page-colour);
    font-size: 17px; /*medium;*/
    font-family: 'Titillium Web', sans-serif;
}

a {
    color: var(--anchor-colour);
}


a:hover {
    background-color: transparent;
    color: var(--anchor-hover-colour) !important; /*important because the drop-down menus in bootstrap have transparent colour*/
    text-decoration: none;
    text-shadow:
     0px  0px 7px  rgba(32,178,210,0.75),
     0px  0px 14px rgba(32,178,210,0.525),
     0px  0px 21px rgba(32,178,210,0.3625),
     0px  0px 28px rgba(32,178,210,0.25725),
     1px  1px 1px  rgba(6%,6%,6%,1.0),
    -1px -1px 1px  rgba(6%,6%,6%,1.0),
     1px -1px 1px  rgba(6%,6%,6%,1.0),
    -1px  1px 1px  rgba(6%,6%,6%,1.0);
}

ul.breadcrumb {
    background-color: var(--code-backrgound);
}

input.form-control {
    background-color: var(--code-background);
    color: var(--anchor-hover-background);
}

code {
    background-color: var(--code-background);
    color: var(--code-colour) !important;

}

a.tag.p-category {
    background-color: var(--tags);
    color: var(--page-colour);
}

.tags > li {
    background-color: var(--tags);
}

a.reference.badge {
    background-color: var(--tags);
}

li.previous {
    background-color: var(--tags);
    color: var(--anchor-hover-color);
}

div.highlight {
    background-color: var(--code-background);
}
div.input_area > pre  {
    background-color: var(--code-background);
    color: var(--page-colour)
}
div.text_cell_render {
    color: var(--page-colour) !important;
}
div.container{
    width: 100%;
}
pre {
    background-color: var(--code-background);
    color: var(--code-color);
}
blockquote  {
    border-left: var(--page-background);
}
pre.literal-block, pre.doctest-block, pre.math, pre.code {
    margin-left: 1.5em;
    margin-right: 1em;
    line-height: 1.25;
}