
* {margin: 0; padding: 0;}

body {color: yellow;
      background: blue;
      font-family: Helvetica, Arial, Sans-Serif;
      font-size: 8px;
      font-style: bold;}

canvas {position: absolute; top: 8px;
        display: blue; z-index: 1;}

a {
    color: yellow;
    text-decoration: none;
    position: absolute;  right: 10px;
    z-index: -1;
}

div.title {position: absolute; left: 10px;}
