<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="../assets/xml/rss.xsl" media="all"?><rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/"><channel><title>Milosophical Me (web)</title><link>http://milosophical.me/</link><description></description><atom:link href="http://milosophical.me/tags/web.xml" type="application/rss+xml" rel="self"></atom:link><language>en</language><lastBuildDate>Mon, 08 Jun 2015 23:08:47 GMT</lastBuildDate><generator>http://getnikola.com/</generator><docs>http://blogs.law.harvard.edu/tech/rss</docs><item><title>Using punctuation entity names in XHTML</title><link>http://milosophical.me/blog/2006/03/22/using-punctuation-entity-names-in-xhtml.html</link><dc:creator>Mike Lockhart</dc:creator><description>&lt;p&gt;
&lt;em&gt;This post was originally published
  at &lt;a href="http://sinewalker.blogspot.com.au/2006_03_01_archive.html"&gt;sinewalker.blogspot.com.au&lt;/a&gt;
  on 22 March 2006.&lt;/em&gt;
&lt;/p&gt;
&lt;hr&gt;

&lt;p&gt;You can use the following XHTML entity names to put propper punctuation symbols into your web pages.
&lt;/p&gt;

&lt;br&gt;

&lt;p&gt;
The W3C maintains &lt;a href="http://www.w3.org/TR/html4/sgml/entities.html"&gt;a complete list&lt;/a&gt;, though finding what you need can be a bit tricky.  I'm working on a complete list that actually displays the characters together with the other detail from W3C's table, a lot neater coding than this Blogger post too, I hope…
&lt;/p&gt;

&lt;br&gt;


&lt;p&gt;
In the mean-time, here's a short-list of common characters that I use quite a
lot:&lt;/p&gt;

&lt;br&gt;



Double quotes: &lt;b&gt;“     ”&lt;/b&gt; ⇒  use  &lt;b&gt;&amp;amp;ldquo;&lt;/b&gt;
and   &lt;b&gt;&amp;amp;rdquo;&lt;/b&gt;
&lt;br&gt;


Single quotes: &lt;b&gt;‘     ’&lt;/b&gt; ⇒  use  &lt;b&gt;&amp;amp;lsquo;&lt;/b&gt;
and &lt;b&gt;&amp;amp;rsquo;&lt;/b&gt;
&lt;br&gt;


Ellipsis:      &lt;b&gt;…&lt;/b&gt;  ⇒ use  &lt;b&gt;&amp;amp;hellip;&lt;/b&gt;
&lt;br&gt;


En-dash:       &lt;b&gt;–&lt;/b&gt; ⇒ use      &lt;b&gt;&amp;amp;ndash;&lt;/b&gt;
&lt;br&gt;


Em-dash:       &lt;b&gt;—&lt;/b&gt; ⇒ use     &lt;b&gt;&amp;amp;mdash;&lt;/b&gt;
&lt;br&gt;


Minus sign:    &lt;b&gt;−&lt;/b&gt; ⇒ use   &lt;b&gt;&amp;amp;minus;&lt;/b&gt;
&lt;br&gt;




Multiplication: &lt;b&gt;×&lt;/b&gt;   ⇒ use  &lt;b&gt;&amp;amp;times;&lt;/b&gt;
&lt;br&gt;


Division:       &lt;b&gt;÷&lt;/b&gt;    ⇒ use   &lt;b&gt;&amp;amp;divide;&lt;/b&gt;
&lt;br&gt;


Approximately equal: &lt;b&gt;≈&lt;/b&gt;   ⇒ use  &lt;b&gt;&amp;amp;asymp;&lt;/b&gt;
&lt;br&gt;




Trade Mark:  ™   ⇒ use &lt;b&gt;&amp;amp;trade;&lt;/b&gt;
&lt;br&gt;


Copyright:   &lt;b&gt;©&lt;/b&gt; ⇒ use &lt;b&gt;&amp;amp;copy;&lt;/b&gt;
&lt;br&gt;


Registered:  &lt;b&gt;®&lt;/b&gt; ⇒ use &lt;b&gt;&amp;amp;reg;&lt;/b&gt;
&lt;br&gt;




Right-arrow: &lt;b&gt;⇒&lt;/b&gt; ⇒ use &lt;b&gt;&amp;amp;rArr;&lt;/b&gt;
&lt;br&gt;


</description><category>XHTML</category><category>hacking</category><category>typsetting</category><category>web</category><guid>http://milosophical.me/blog/2006/03/22/using-punctuation-entity-names-in-xhtml.html</guid><pubDate>Wed, 22 Mar 2006 02:56:00 GMT</pubDate></item></channel></rss>